<%- partial('_page/post', {post: page, index: false}) %>


<div class="container">
	<article class="post-wrap" style="margin-top: 7em;">
		<div class="post-content">
			<%- partial('_plugins/disqus') %>
		</div>	
	</article>
</div>	