// 非衬线体 方正兰亭
@font-face
  font-family 'lanting'
  src: url('../fonts/lanting/lanting.eot'); /* IE9 */
  src: url('../fonts/lanting/lanting.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/lanting/lanting.woff2') format('woff2'),
          url('../fonts/lanting/lanting.woff') format('woff'),
          url('../fonts/lanting/lanting.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  font-weight 300
  font-display swap

@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  src: url('https://together.zhangchizhuangbi.com/font/blog/NotoSerif-Regular.ttf')
  font-weight 400;
  font-display swap;
}

@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  src: url('https://together.zhangchizhuangbi.com/font/blog/NotoSerif-Bold.ttf')
  font-weight 800;
  font-display swap;
}


@font-face {
  font-family: 'Noto Serif SC';
  font-style: normal;
  src: url('https://together.zhangchizhuangbi.com/font/blog/NotoSerifSC-Regular.otf');
  font-weight 400;
  font-display swap;
}

@font-face {
  font-family: 'Noto Serif SC';
  font-style: normal;
  src: url('https://together.zhangchizhuangbi.com/font/blog/NotoSerifSC-Bold.otf');
  font-weight 800;
  font-display swap;
}


$font-family = 'Noto Serif', 'Noto Serif SC', 'Times New Roman', serif;